* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

/* CSS Base */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 16px;
    height: 150px;
    margin: 20px;
    

    
}
.navbar-brand{
    margin-top: -20px;
    align-items: center;
    justify-content: space-between;


}

.navbar-brand img {
    max-width: 230px;  /* Tamanho máximo da imagem em telas grandes */
    width: 100%;  /* Ajusta a largura da imagem conforme o contêiner */
    height: auto;  /* Mantém a proporção da imagem */
    
}

/* Responsividade para telas menores */
@media (max-width: 991px) {
    .navbar {
        flex-direction: column;  /* Coloca os itens em coluna em telas menores */
        align-items: center;  /* Centraliza os itens */
    }

    .navbar-brand {
        margin-bottom: 10px;  /* Espaçamento entre a logo e os links */
    }

    .navbar-brand img {
        max-width: 150px;  /* Tamanho máximo da imagem em telas menores */
        padding-top: 15px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;  /* Coloca os links em coluna */
        align-items: center;  /* Centraliza os links */
    }
}





.login-button {
    background-color: #5297ff;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: black;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;

}

.navbar-toggler:focus .bnt-closer:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: black;
}

@media (min-width:991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 0;
        height: 2px;
        background-color: #5297ff;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.hero-section,
.hero-section-img {
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hero-section::before {
    background-color: rgba(0, 0, 0, 0.4);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}